<h1> Yogurts </h1>

<div id="yogurts-destination"></div>

<ul>
	<script id="yogurts-template" type="text/x-handlebars-template">
		{{#each yogurts}}
			<li>
				#{{id}}: <br /> 
				Flavor:{{flavor}} <br /> 
				Topping:{{topping}} <br />
				Quantity:{{quantity}}	
			</li>
		{{/each}}
	</script>
</ul>

<script> $(function() { loadYogurts(); }); </script>