<h1> Static#show</h1>
<p> Find me in app/views/static/show.html.erb </p>

<div x-ng-app="yogurt-app">
	<insert either a div with an ng-controller, put rest of maint emplate here, like in class, or use a ui-view/ng-view for multi-view ap>
</div>